@using Books.Models
@model IEnumerable<Books.Models.BookImage>

<div class="row">
    <div class="col-md-6">
        @foreach (BookImage bi in Model)
        {
            <label asp-for="@bi.BookImageThumbnail">Image</label>
            <div class="input-group">
                @{
                    if (@bi.BookImageThumbnail == null || @bi.BookImageThumbnail == "")
                    {
                        @*<div class="form-control-file">
                            <input type="file" name="thumbnail" />
                        </div>*@
                    }
                    else
                    {
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-file-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" asp-for="@bi.BookImageThumbnail"
                               placeholder="-----" readonly="readonly" />
                    }
                }
            </div>
        }
    </div>
    <div class="col-md-6">
        @foreach (BookImage bi in Model)
        {
            <label asp-for="@bi.BookImageCode">Related Image(s)</label>
            <div class="input-group">
                <div class="form-control-file">
                    <input type="file" name="relatedImages" multiple="multiple" />
                </div>
            </div>

            if (@bi.BookImageCode == null || @bi.BookImageCode == "" ||
                        @bi.BookImageCode == "0")

            {
                string folderCode = string.Empty;
                folderCode = System.Guid.NewGuid().ToString();

                <input type="hidden" asp-for="@bi.BookImageCode" class="form-control"
                       value="@folderCode" readonly="readonly" />
            }
            else
            {
                <input type="hidden" asp-for="@bi.BookImageCode" class="form-control"
                       readonly="readonly" />
            }
        }
    </div>
</div>
