@*@model Book*@
    @*<tr>
        <td>
            <a asp-action="ViewBook" asp-route-id="@Model.Id">@Model.Name</a>
        </td>
        <td>@Model.Difficulty</td>
        <td>@Model.Time</td>
        <td><a asp-action="EditBook" asp-route-id="@Model.Id"> Edit </a></td>
    </tr>*@
